body {
    font-family: "Roboto", sans-serif;
    color: #434455;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.link {
    text-decoration: none;
}
.studio {
    color: #2e2f42;
}
.list {
    list-style: none;
}
.punkt {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.punkt:hover {
    color: #404bbf;
}
.punkt:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
}
.mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.mail:hover {
    color: #404bbf;
}
.mail:focus {
    color: #404bbf;
}